body * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.app-container {
    height: 30vh;
    min-height: 18em;
    background-image: url(https://image.freepik.com/free-photo/wooden-planks-with-blurred-restaurant-background_1253-56.jpg);
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-position: 70% 30%;
    color: #fff;
    margin:auto;
}

.logo-container {
    background: #303030;
    text-align: center;
}

.app-callout {
    font-size: 2.2em;
    text-align:center;
}

.tab {
    overflow: hidden;
    width: 100%;
    margin-top:60px;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.formtab {
  overflow: hidden;
  width: 100%;
  margin-top:60px;
  display: inline-block;

}
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    position:relative;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

.fav {
  font-size: 25px;
}

.fav-on {
  background-color: #E9967A;
}

body {
  /*background: #E8E6E5;*/
  color: black;
  text-align: center;
 }

img{
  height:70px;
  width:100px;
}

input {
  height: 30px;
  width:  200px;
  font-size: 18px;
  border-radius: 4px;
  margin: 8px 0;
  margin-left:auto;
  padding:0;
}

select {
  height: 30px;
  width:  200px;
  font-size: 18px;
  border-radius: 4px;
  display: inline-block;
  margin: 8px 0;
  margin-left:2px;
}

label {
  width: 100px;
}

.signup {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin:auto;
    height: 400px;
}

p{
  text-align:center;
}

form {
  height: 500px;
  width : 500px;
  margin: auto;
  text-align:center;
}

h3{
  text-align:center;
  margin:auto;
  line-height: 145%;
  margin-top:50px;
}

button {
  height: 40px ;
  font-size: 18px;
  font-weight: bolder;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

.container {
  display:inline-block;
  text-align:center;
}
.favorites {
  margin-left:300px;
  text-align: center;
  margin : auto;
}

a {
  color: #0000FF;
}

.prev-restaurants, .next-restaurants{
  float :left;
  border-radius: 8px;
  margin-right: 25px;
  border-radius: 8px;
}

.nav-buttons{
  float :right;
  display:inline-block;
}

.demo-login .demo-login__title {
    font-weight: 900;
    padding: 0;
    margin: 0 auto 1em;
}

.demo-login p, .demo-login span {
    padding: 0;
    margin: .5em 0;
}
.hover:hover{
  background-color:#E9967A;
}
